$color-light: brown;
$color-dark: white;
$size: 75px;

body{
    color: red;
    background-color: $color-dark;
    margin: 100px;
}

button{
    height: $size;
    width: $size;
    font-size: $size*0.25;
    border-radius: $size*0.5;
    background-image: linear-gradient(lighten($color-light, 45%), darken($color-light, 5%), lighten($color-light, 45%));
    color: white;
    border: 3px solid lightgreen;
    box-shadow: 0 0 5px 2px darken($color-dark, 50%);
}

button:hover{
    background-image: linear-gradient(darken($color-light, 5%), lighten($color-light, 45%), darken($color-light, 5%));
    border-color: darkgreen;
}

